.mat-stepper-horizontal {
  margin-top: 8px;
  background-color: var(--blue-clear);
}

.mat-form-field {
  margin-top: 16px;
}

// .container__stepper {
//   background-color: var(--blue-clear);
// }

