
.menuSide__container--main {
  width: 100px;
  height: 100vh;
  background-color:var(--blue-ocean);
  position: absolute;
  left: 0;
  top:0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.menuside__logo{
  padding: 1rem;

}

mat-icon {
  color: #fff;
  font-size: 36px;
}

.menuside__icons{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
